.list-group-item {
    padding: 15px 20px;
    border-bottom: 1px solid #3d5a80;
    display: flex;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item span {
    line-height: 35px;
    font-size: 20px;
    cursor: pointer;
    min-width: 550px;
}

.list-group-item input {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    border: 0;
}

.list-group-item button {
    width: 35px;
    height: 35px;
    margin: 3px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.list-group-item .btn-cookie {
    color: rgba(224, 159, 62, 0.6);
}

.list-group-item .btn-trash {
    color: rgba(229, 56, 59, 0.7);
}

.list-group-item .fa-star {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: rgba(255, 215, 0, 0.7);
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}

.list-group-item.like .fa-star {
    opacity: 1;
    transform: translateX(0px);
}

.list-group-item.increase .list-group-item-label, .list-group-item.increase .list-group-item-input {
    color: #e09f3e;
}

.list-group-item.increase .btn-star {
    color: #aeaeae;
}
.star-icon{
    height: 40px;
    width: 40px;
    margin: 0 auto !important;
    margin-left: 5px !important;
    padding: 0;

}
.btn-star{
    display: flex;
    height: 40px  !important;
    width: 40px !important;
    margin: 0 auto !important;
    margin-left: 5px !important;
    padding: 0;
    background-color: #fdfdfd;

}
.like{
    height: 35px;
    width: 35px;
    padding: 4px;
    margin: 2px auto !important;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}